<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docházkový systém</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Docházkový systém</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                  <div class="row">
                    <div class="col-xs-12"><div style="text-align: center" class="bg-{{ category }}">{{ message }}</div></div>
                  </div>
                {% endfor %}
            {% endwith %}
            <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                <form action="record" method="POST">
                    <table class="table">
                        <tr><th colspan="2">Zapsat</th></tr>
                        <tr>
                            <td><input class="btn btn-success" type="submit" name="entry" value="Příchod"></td>
                            <td><input class="btn btn-danger" type="submit" name="leaving" value="Odchod"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                <form action="/" method="POST">
                    <table class="table">
                        <tr><th colspan="3">Historie</th></tr>
                        <tr>
                            <td><input class="form-control" type="text" size="4" name="year" value="{{ year }}"></td>
                            <td><input class="form-control" type="text" size="2" name="month" value="{{ month }}"></td>
                            <td><input class="btn btn-primary" type="submit" name="show_history" value="Zobrazit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-6">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="2">Měsíc</th>
                    </tr>
                    <tr>
                        <td>Celkem hodin</td>
                        <td>{{ computed['month_sum'] }}</td>
                    </tr>
                    <tr>
                        <td>Průměr na den</td>
                        <td>{{ computed['day_avg'] }}</td>
                    </tr>
                    <tr>
                        <td>Přesčas</td>
                        <td>{{ computed['overtime'] }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-6">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="2">Dny</th>
                    </tr>
                    <tr>
                        <td>Minimum</td>
                        <td>{{ computed['day_min'] }}</td>
                    </tr>
                    <tr>
                        <td>Maximum</td>
                        <td>{{ computed['day_max'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr><th colspan="6">Poslední záznamy</th></tr>
                        <tr>
                            <th>Datum</th>
                            <th>Den</th>
                            <th>Příchod</th>
                            <th>Odchod</th>
                            <th>Strávený čas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in items %}
                        <tr>
                            <td>{{ record['date'] }}</td>
                            <td>{{ record['day'] }}</td>
                            <td>{{ record['entry'] }}</td>
                            {% if not record['today_leaving'] %}
                                <td>{{ record['leaving'] }}</td>
                            {% else %}
                                <td style="color: red;">~ {{ record['today_leaving'] }}</td>
                            {% endif %}
                            <td style="color: {{ record['spent_color'] }};">{{ record['spent_time'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
